! ! ------------------------------------------------------------------------------
! ! ROFI Color theme
! ! ------------------------------------------------------------------------------
! rofi.color-enabled: true
! rofi.color-window: #000000, #006688, #006688
! rofi.color-normal: #000000, #ffffff, #282828, #268bd2, #ffffff
! rofi.color-active: #006688, #ffffff, #0082ad, #268bd2, #ffffff
! rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
! ! Separator style (none, dash, solid)
! rofi.separator-style:                solid

! === rofi ===

rofi.modi:                           window,drun,run
rofi.sidebar-mode:                   true
rofi.terminal:                       termite
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        50
rofi.width:                          50
rofi.lines:                          8
rofi.columns:                        1
rofi.font:                           Inconsolata 24
rofi.fg:                             #5294E2
rofi.bg:                             #aa5d729f
rofi.fg-active:                      #34405a
rofi.fg-urgent:                      #34405a
rofi.hlfg-active:                    #5e73a0
rofi.hlfg-urgent:                    #5e73a0
rofi.bg-active:                      #34405a
rofi.bg-urgent:                      #34405a
rofi.hlbg-active:                    #5d729f
rofi.hlbg-urgent:                    #5d729f
rofi.bgalt:                          #5671a0
rofi.hlfg:                           #34405a
rofi.hlbg:                           #aa34405a
rofi.bc:                             #789ee1
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF

!                  'background', 'border'
rofi.color-window: #aa353944,      #404552
rofi.bw:                             10
rofi.location:                       0
rofi.padding:                        10
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                8

!#353944				